################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2D-Game.slnx
/.vs/2D-Game.slnx
/.vs/slnx.sqlite
*.json
*.sqlite-journal
/.vs/2D-Game/CopilotIndices/18.9.1319.62376
